.headerlinks {
    width: 100%;
    margin-top: 25px;

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        font-family: "Raleway", sans-serif;
        font-size: 14px;

        a {
            text-decoration: none;
            color: black;

        }

        .account {
            display: flex;
            gap: 5px;
            margin-left: 15em;

            .login {
                color: #189B62;
                text-decoration: none;
            }
        }
    }

    @media (max-width: 768px) {
        .links {
            justify-content: flex-start;
            gap: 30px;
            margin-left: 0;

            .account {
                margin-left: 0;
            }
        }
    }
}