.form-container {
    display: flex;
    gap: 10%;
    align-items: center;

    .image-container {
        max-width: 32%;
        margin-bottom: 12em;
        margin-left: 5em;


        .image {
            width: 100%;
            height: auto;
        }
    }

    .contact-container {
        max-width: 100%;


        .progress-form-container {
            display: flex;
            align-items: center;
            gap: 10%;

            .progress {
                margin-bottom: 35em;
                width: 3.6%;
                height: auto;
            }

            form {
                display: flex;
                flex-direction: column;
                margin-top: 50px;

                h1 {
                    margin-bottom: 7px;
                }

                p {
                    margin-bottom: 10px;
                    font-family: "Raleway", sans-serif;
                    font-size: 14px;
                }

                label {
                    margin-bottom: 4px;
                }

                .name-container {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    div {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        margin-right: 10px;
                    }
                }



                .age-gender-container {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 10px;
                    gap: 16%;

                    .age,
                    .gender {
                        flex: 1;
                        margin-right: 8px;
                        display: flex;
                        flex-direction: column;
                    }


                }

                .gender-options {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    input[type="radio"] {
                        transform: scale(0.8);
                        margin-right: 3px;
                        accent-color: #189B62;

                    }

                    label {
                        font-size: 15px;
                        margin-bottom: 7px;
                    }
                }

                .select-container {
                    position: relative;
                    width: 100%;

                    select {
                        width: 100%;
                        scrollbar-width: thin;
                        scrollbar-color: transparent transparent;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                    }

                    .mark-icon {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        transform: translateY(-50%);
                        width: 20px;
                        height: auto;
                    }
                }

                input,
                select {
                    padding: 10px;
                    margin-bottom: 10px;
                }

                select {
                    font-size: 12px;
                    height: 36px;
                    border-radius: 5px;
                    border: 1px solid grey;
                    background-color: #fff;

                    &:focus {
                        outline: none;
                    }
                }

                input {
                    height: 32px;
                    border-radius: 5px;
                    border: 1px solid grey;

                    &:focus {
                        outline: none;
                    }
                }


                input[type='file'] {
                    border: 1px solid #ccc;
                    padding: 8px;
                    border-radius: 5px;
                    width: 100%;
                    margin-top: 5px;
                }


                .createpassword {
                    position: relative;

                    input {
                        width: 100%;
                    }

                    .create-password {
                        position: absolute;
                        top: 10%;
                        right: 10px;
                        width: 15px;
                        color: grey;
                    }

                    .confirm-password {
                        position: absolute;
                        top: 70%;
                        right: 10px;
                        width: 15px;
                        color: grey;
                    }
                }

                .error-message {
                    &.correct {
                        color: green;
                        font-size: 14px;
                    }

                    &.incorrect {
                        color: red;
                        font-size: 14px;
                    }
                }

                .profile-section {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    gap: 25px;
                    margin-top: 25px;

                    img {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;

                    }

                    .file-upload {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        color: rgb(28, 28, 28);
                        border: 1px solid grey;
                        width: 10vw;
                        height: 1.5vw;
                        font-size: 1vw;
                        border-radius: 5px;
                        cursor: pointer;
                        outline-color: grey;

                        img {
                            width: 12px;
                            height: 12px;
                        }

                    }

                    input {
                        display: none;

                    }
                }


                .button-section {

                    display: flex;
                    text-align: center;
                    justify-content: space-between;
                    gap: 20px;
                    margin-top: 17px;
                    margin-bottom: 20px;

                    .back {
                        border: 1px solid grey;
                        background-color: white;
                        width: 15vw;
                        height: 3vw;
                        font-size: 1vw;
                        border-radius: 5px;
                        cursor: pointer;
                        color: rgb(74, 74, 74);
                    }

                    .continue {
                        color: white;
                        background-color: #189B62;
                        width: 15vw;
                        height: 3vw;
                        font-size: 1vw;
                        border-radius: 5px;
                        cursor: pointer;
                        outline: none;
                        border-color: transparent;
                    }
                }

            }
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .image-container,
        .contact-container {
            max-width: 100%;
        }
    }
}