* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900

  h2,
  h3,
  h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900

  label {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
  }
}