.farmreg-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 7%;

    .image-container {
        flex: 1 1 auto;
        max-width: 32%;
        margin-right: 20px;
        margin-bottom: 45px;
        margin: 45px;

        .farm-image {
            width: 100%;
            height: auto;
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;

            .modal-container {
                border: 1px solid grey;
                background-color: white;
                width: 90%;
                max-width: 350px;
                height: 40%;
                padding: 20px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .modal-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .modal-logo {
                        width: 15%;
                        height: 15%;
                        // margin-left: 10px;
                    }

                    h3 {
                        // margin-left: 4em;
                        margin-bottom: 9px;
                    }

                    p {
                        font-size: 12px;
                        // margin-left: 7em;
                        margin-bottom: 12px;
                        font-family: "Raleway", sans-serif;
                        font-size: 14px;
                    }

                    .modal-button {
                        width: 180px;
                        height: 50px;

                        .modal-button2,
                        .modal-button1 {
                            border: 1px solid grey;
                            background-color: white;
                            width: 100%;
                            max-width: 150px;
                            height: 30px;
                            font-size: 12px;
                            border-radius: 5px;
                            cursor: pointer;
                            margin-top: 15px;
                        }

                        .modal-button1 {
                            color: white;
                            background-color: #17714a;
                            border-color: transparent;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .farmreg {
        flex: 1 1 auto;
        // max-width: calc(68% - 20px);
        margin-bottom: 45px;
        max-width: 600px;

        // &.modal-open {
        //     border: 1px solid red;
        // }

        .farmreg-form-container {
            margin: 40px;
            width: 350px;
            // position: relative;

            .farm-number {
                text-align: center;
                font-size: 13px;
                color: grey;
            }

            .farm-container {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .line {
                    flex-grow: 1;
                    height: 1px;
                    background-color: #f6d676;
                }

                .farm-number {
                    margin: 0 10px;
                }
            }

            .farm-details-card {
                font-family: "Raleway", sans-serif;
                font-size: 14px;

                .splide__pagination__page {
                    background-color: black;
                }

                // display: flex;
                .farm-border {
                    border: 1px solid #e9c867;
                    padding: 10px;
                    border-radius: 5px;

                    .farm-actions {
                        display: flex;
                        justify-content: space-between;

                        .edit-delete {
                            display: flex;
                            gap: 10px;
                            cursor: pointer;
                        }
                    }

                    // margin-bottom: 10px;
                    .farm-number {
                        color: #7a5d06;
                    }

                    .line1 {
                        width: 100%;
                        height: 1px;
                        background-color: #e9c867;
                        // margin-top: 20px;
                        // margin-bottom: 20px;
                    }

                    .farm-info,
                    .farm-info2 {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        padding: 10px;


                        .farm-design {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 6px;

                        }

                        .title {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 5px;

                        }
                        .crops{
                            display: flex;
                            // justify-content: center;
                            gap: 4px;
                            .crop-design {
                                border: 1px solid #e9c867;
                                border-radius: 10px;
                                width: 60px;
                                font-size: 12px;
                                text-align: center;
                                text-transform: uppercase;
                                font-weight: 500;
                            }
                        }


                        .details {
                            display: flex;
                            gap: 6px;
                            flex-direction: column;

                            align-items: center;

                            .longitude-text {
                                color: #17714a;
                                border: 1px solid #e7edea;
                                border-radius: 10px;
                                width: 70px;
                                text-align: center;
                                text-transform: uppercase;
                                font-weight: 500;
                                background-color: #e7edea;

                            }

                            .latitude-text {
                                color: blue;
                                font-weight: 500;
                                border: 1px solid #ebecf4;
                                border-radius: 10px;
                                width: 65px;
                                text-align: center;
                                text-transform: uppercase;
                                font-weight: 500;
                                background-color: #ebecf4;

                            }

                            .farm-name {
                                text-transform: uppercase;
                                font-weight: 500;
                                font-size: 12px;
                            }
                        }

                    }
                }
            }


        }


        h1,
        h3,
        .reg-text {
            margin-bottom: 15px;
            font-family: "Raleway", sans-serif;
            font-size: 14px;
        }

        label {
            display: block;
            margin-bottom: 7px;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;

            &:focus {
                outline: none;
            }
        }

        .reg-container {
            .farmcord {
                display: flex;
                gap: 10px;

                input[type="text"] {
                    flex: 1;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            }

            .cord-text {
                color: grey;
                font-size: 12px;
                margin-bottom: 14px;
            }
        }

        .card-section {
            background-color: #f3f3f3;
            margin: 3px;
            padding: 15px;
            border-radius: 10px;

            .topcard-action {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .crop-number {
                    color: grey;
                    font-size: 14px;
                    margin-right: auto;
                }

                .delete-button {
                    border: none;
                    width: 10px;
                    margin-left: auto;
                    margin-bottom: 16px;
                }
            }

            .month-select {
                display: flex;
                gap: 7%;

                .start-month,
                .end-month {
                    width: calc(50% - 8px);
                }

                label {
                    font-size: 14px;
                }
            }
        }

        .add-crop {
            border: 1px solid #189B62;
            margin-top: 7px;
            border-radius: 5px;
            padding: 3px;
            color: #189B62;
            font-weight: bold;
            font-size: 12px;
            background-color: #eafbf4;
            cursor: pointer;
        }

        .upload-text {
            margin-top: 20px;
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            margin-bottom: 12px;

        }

        .upload-section {
            margin-bottom: 30px;
            cursor: pointer;

            .upload-state {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 5px;

                p {
                    font-size: 13px;
                    margin-left: 70px;
                    margin-right: 90px;

                    span {
                        color: #189B62;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }

            .dropzone {
                border: 1px solid #ccc;
                padding: 5px;
                border-radius: 5px;
                margin-top: 10px;
                width: 350px;

                .dropfile {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    p {
                        margin-right: 10px;
                    }
                }

                .drop-progress {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    margin-top: 7px;

                    .progress {
                        width: 100%;
                        background-color: #189B62;
                        border: none;
                        border-radius: 15px;
                        height: 5px;
                    }

                    span {
                        margin-left: 20px;
                    }
                }

                img {
                    cursor: pointer;
                }
            }
        }

                .error-message {
                    color: red;
                    font-size: 12px;
                    margin-top: 5px;
                    text-align: center;
                    font-family: "Raleway", sans-serif;
                }
    }

    @media screen and (max-width: 768px) {
        .farmreg-container {
            flex-direction: column;

            .image-container,
            .farmreg {
                max-width: 100%;
            }

            .modal {
                align-items: flex-start;
            }

            .modal-container {
                width: 90%;
            }

            .modal-content {
                align-items: center;
            }
        }
    }
}